<h1>Sessions#new</h1>
<p>Find me in app/views/u_sessions/new.html.erb</p>


<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>